# set borg's passphrase for encryption support
#export BORG_PASSPHRASE=''
# set the repository path for borg
#export BORG_REPO=""

# If you're running a system-wide backup,
# it may make sense to use system-wide paths
#export BORG_KEYS_DIR=/etc/backup/default/keys
#export BORG_SECURITY_DIR=/etc/backup/default/security
#export BORG_CACHE_DIR=/var/cache/backup/default

# If you want to add additional options to borg's
# command line, add them here
#OPT_BORG=""
#OPT_BORG_CREATE=""
#OPT_BORG_PRUNE=""

# These paths should get saved in the archive.
SOURCES=(/)

# The archives have the naming scheme of
# <hostname><suffix>-<date>
# so setting <suffix> to something meaningful
# prepended with a - is a good choice
#SUFFIX="-full"

# Keep the amount of archives in the given
# interval with borg's pruning option
# The KEEP_<interval> vars correspond to
# borg prune --keep-<interval>=. See borg prune --help
# for more information
KEEP_WITHIN=3d
KEEP_DAILY=7
KEEP_WEEKLY=4
KEEP_MONTHLY=6
KEEP_YEARLY=1


# Excludes
#
# To exclude some files, here you can add some `--exclude=`-options
# Each Element in the array gets expanded to a single
# --exclude=<array-element> option in borg create
#
# For more info use the command:
# borg help patterns
#
#EXCLUDE=(
#         'pp:/tmp'
#         'pp:/var/cache'
#)
